name: Build

on: [push, pull_request]

jobs:
  check:
    name: Check
    runs-on: ubuntu-22.04
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v6

      - name: Setup | Toolchain
        run: rustup toolchain install --profile minimal

      - name: Check
        run: cargo check --target=armv7a-vex-v5
